<section class="content-header">
    <h1>
        记账系统
        <small>功能介绍</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">记账系统</li>
    </ol>
</section>
  
  
  <section class="content">
  
	<div class="row">
		<div class="col-xs-6 col-md-2">
			
<div class="panel panel-primary">
  <div class="panel-heading">收支管理</div>
  <div class="list-group">
    <a href="#" class="list-group-item">收入记账</a>
	<a href="#" class="list-group-item">支出记账</a>
	<a href="#" class="list-group-item">借入记账</a>
	<a href="#" class="list-group-item">借出记账</a>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">统计报表</div>
  <div class="list-group">
    <a href="#" class="list-group-item">日汇总统计</a>
	<a href="#" class="list-group-item">月汇总统计</a>
	<a href="#" class="list-group-item">人员分类统计</a>
	<a href="#" class="list-group-item">项目分类统计</a>
	<a href="#" class="list-group-item">收支趋势分析</a>
	<a href="#" class="list-group-item">借款统计</a>
	<a href="#" class="list-group-item">账户对账单</a>
  </div>
</div>			
<div class="panel panel-primary">
  <div class="panel-heading">信息设置</div>
  <div class="list-group">
    <a href="#" class="list-group-item">家庭成员</a>
	<a href="#" class="list-group-item">收支类别</a>
  </div>
</div>
			
		</div>
		<div class="col-xs-6 col-md-10">
		<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li class="active">记账系统</li>
</ol>
		
		<div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>¥10000元</div>
	                                <div>累计收入</div>
	                                <div>¥10000元</div>
	                                <div>累计支出</div>
                                </div>
                            </div>
                                
                           
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">详细信息</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>¥10000元</div>
	                                <div>本年收入</div>
	                                <div>¥10000元</div>
	                                <div>本年支出</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">详细信息</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>¥10000元</div>
	                                <div>本月收入</div>
	                                <div>¥10000元</div>
	                                <div>本月支出</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">详细信息</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
        <div class="panel panel-default">
        	<div class="panel-heading">收入统计</div>
        	<div class="panel-body">
        	<div class="row">
                                <div class="col-xs-4">
                                    <div>&nbsp;&nbsp;累计工资总额：1000000元</div>
                                    <div>&nbsp;&nbsp;累计投资收益：1000000元</div>
                                </div>
                                <div class="col-xs-4">
                                	<div>累计奖金总额：20000</div>
                                	<div>股票收益：300000</div>
                                </div>
                                <div class="col-xs-4">
                                    <div>&nbsp;</div>
	                                <div>其他收益：100000</div>
                                </div>
                            </div> 
        	</div>
        </div> 
        <div class="panel panel-default">
        	<div class="panel-heading">借款统计</div>
        	<div class="panel-body">
        	<div class="row">
                                <div class="col-xs-6">
                                    <div>&nbsp;&nbsp;累计借出总额：1000000元</div>
                                    <div>&nbsp;&nbsp;累计借入总额：1000000元</div>
                                </div>
                                <div class="col-xs-6">
                                	<div>剩余借出金额：20000</div>
                                	<div>剩余借入金额：300000</div>
                                </div>
                               
                            </div> 
        	</div>
        </div> 
    
			        
        
		</div>
</div>	</section>	
