<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <!-- Bootstrap CSS -->
    <link th:href="@{bootstrap4/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body class="layout-fixed">
  <div th:fragment="navbar"  class="wrapper"  role="navigation">
    <div th:replace="fragments/header :: header">Header</div>
    <div layout:fragment="content" id="content" ></div>
    <div th:replace="fragments/footer :: footer">footer</div>
  </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script th:src="@{jquery/3.2.1/jquery.slim.min.js}"  crossorigin="anonymous"></script>
    <script th:src="@{popper.js/1.9.3/umd/popper.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{bootstrap4/js/bootstrap.min.js}" crossorigin="anonymous"></script>	
</body>
</html>