<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:fragment="common_header(title,links)">
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:replace="${title}">The awesome application</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/flat-ui/css/flat-ui.min.css" />
    <link rel="stylesheet" href="/css/comm.css" />
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/ie/html5shiv.min.js"></script>
      <script src="/ie/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div layout:fragment="content" id="content" ></div>
	<div th:replace="fragments/footer :: footer">footer</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="/jquery/jquery-1.12.4.min.js"></script>
    <script src="/flat-ui/js/vendor/video.js"></script>	
    <script src="/flat-ui/js/flat-ui.min.js"></script>	
</body>
</html>